__pycache__
server_data/*
!server_data/.gitkeep
client/demos/game/game_data/*
client/demos/game/game_data/.gitkeep
client/demos/experiment/experiment_data/*
client/demos/experiment/experiment_data/.gitkeep
htmlcov
.coverage
tags
.python-version
