__pycache__
server_data/*
!server_data/.gitkeep
client_data/*
client_data/.gitkeep
client/experiment/experiment_data/*
client/experiment/experiment_data/.gitkeep
htmlcov
.coverage
tags
.python-version
