[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = "*"
pudb = "*"
black = "*"
pre-commit = "*"
pytest-cov = "*"
codecov = "*"
numpy = "*"
mypy = "*"

[packages]

pygame = "*"

[requires]
python_version = "3.7"
